#employeeCardContainer {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-between; /* ou justify-content: flex-start; */
    gap: 16px
}

.employeeCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.employeeCard header {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
  }

input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #0f0e0e;
    border-radius: 5px;
  }

button{
    margin: 0px 15px 0px 15px;
}
